################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Protocols/v16
/Protocols/bin/Debug/netcoreapp3.1
/Protocols/obj
/Protocols.Tests/bin/Debug/netcoreapp3.1
/Protocols.Tests/obj
/.vs/Protocols/DesignTimeBuild
